/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*-------*/

/*----GENERAL----*/
*{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --breadcrumb-divider:content:"\F280";
}


body{
    height: 100vh;
}

ul{
    list-style-type: none;
}

main{
    height: 100%;
}

/*---------------*/

/* MAIN */
/* HEADER */
header{
    height: 5rem;
}

.logo-container{
    width: 100%;
}

.logo-container > img.mobile{
    max-width: 2.4rem;
}


/* HEADER */

/* ASIDE */
#sidebar{
    position: sticky;
    left: 0;
    top: 10vh;
    max-height: calc(100vh - 5rem );
    background-image: url(../img/sidebar-bg.png);
    background-color: #031633;
}

#sidebar a, #sidebar a:visited{
    text-decoration: none;
}

#sidebar li:hover a div{
    background-color: var(--bs-dark-bg-subtle);
}
/* ASIDE */

/* CONTENT */
#content{
    max-height: calc(100vh - 5rem );
}

.content-top .badge{
    font-size: 0.5em;
}

/* CONTENT */
/* MAIN */

/*-------DEBUG---------*/
/* 
.debug{

    background-color: aqua;
    border: 3px dashed red;
} */

/* .debug header{
    background-color: goldenrod;
    border: 3px dotted green;
} */

/* .debug main{
    background-color: crimson;
    border: 3px solid blue;
} */

/* .debug #sidebar{
    background-color: darkorange;
    border: 3px dashed blueviolet;
} */